body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, rgba(30,30,45,1) 0%, rgba(25,30,47,1) 100%);
    height: 100%;
    gap:2vw;
    color: #d6d6d6;
    font-family: "Inter";

}

*{
    font-weight: 400;

    padding: 0;
    margin: 0;
}
section{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #5773993f;
    margin: 3vw;
    border-radius: 4vw;

}
.divMaquinas{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.divMaquinaComum{
    margin:1vw;
    border-radius: 2vw;
    height: 30vw;
    max-width: 25vw;
}
.vermelho{
    background-color: red;
}
.branco{
    background-color: white;
}

.maquinas{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
}
.mensagemErroDiv{
    display: flex;
    flex-direction: column;
    width: 50vw;
    gap: 2vw;
    margin: 2vw;
    margin-bottom: 4vw;
    background-color: #57739936;
    border-radius: 1vw;
    padding: 2vw;

}
h1{
    font-size: 3vw;
    margin-top: 2vw;
}
.msgTitulo{
    font-size: 2.5vw;
}
.mensagemErro{
    background-color: rgb(254, 95, 85);
    height: fit-content;
    width: fit-content;
    padding: 0.7vw;
    padding-inline: 3vw;
    border-radius: 0.5vw;
    font-size: 1.7vw;
    color: #ffffff;
    margin: 0;
}
/* terminar de estilizar */

/* Estilo para o contêiner do botão de alternância */
.divLabel {
    display: inline-flex;
    align-items: center;
    position: relative;
}

/* Oculta o checkbox */
.checkbox {
    display: none;
}

/* Estilo do label que age como o botão de alternância */
/* .labelLigaDesliga {
    width: 80px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    background-color: aqua;
} */


.labelToggle {
    border-radius: 2vw;
    display: inline-flex;
    padding: 0.2em;
    cursor: pointer;
    width: 4.4vw;
    height: 2vw;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #BDD5EA;
}

.bolaToggle {
    flex-grow: 0;
    background-color: rgb(55, 65, 79) ;
    border-radius: 50%; /* Garante que a bola fique redonda */
    width: 2vw; /* Ajusta a largura */
    height: 2vw; /* Ajusta a altura */
}
.active{
    background-color: #577399;  
}