body{
    display: flex;
    flex-direction: row;
    background: linear-gradient(180deg, rgba(30,30,45,1) 0%, rgba(25,30,47,1) 100%);
    height: 100vh;
}

*{
    padding: 0;
    margin: 0;
}
section{
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.divMaquinaComum{
    margin:2vw;
    border-radius: 2vw;
    height: 50vw;
    max-width: 40vw;
}
.vermelho{
    background-color: red;
}
.branco{
    background-color: white;
}
.maquinas{
    color: rgb(121, 121, 250);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px
}
canvas{
    max-width: 400px;
    max-height: 400px;

}
.labelLigaDesliga{
    padding: 2vw;
}
.bola{
    padding: 2vw;
}
/* terminar de estilizar */

